html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.otf') format('opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.otf') format('opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.otf') format('opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ProximaNova';
  font-size: 16px;
  position: relative;
}
body.main {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}
header {
  clear: both;
  display: block;
  overflow: hidden;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
  z-index: 9;
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  height: 100px;
  margin: auto;
}
.header-logo {
  float: left;
  width: 134px;
  height: 100px;
  background: url('../img/logo.svg') center center no-repeat;
  margin: 0 0 0 148px;
}
.header-menu {
  float: left;
  overflow: hidden;
  height: 100px;
  padding: 0 0 0 70px;
}
.header-menu__item {
  float: left;
  overflow: hidden;
  height: 100px;
}
.header-menu__item a {
  display: block;
  overflow: hidden;
  line-height: 100px;
  padding: 0 32px;
  color: #a6a4a8;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header-menu__item a:hover {
  color: #fff;
}
.owl-carousel .item {
  width: 100vw;
  height: 100vh;
  display: block;
  background-size: cover;
  background-position: center center;
}
.owl-carousel .item__info {
  display: block;
  overflow: hidden;
  color: #fff;
  width: 1200px;
  margin: auto;
  position: relative;
  height: 100vh;
  opacity: 0;
  -webkit0transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.owl-carousel .item__info-wrapper {
  margin: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.owl-carousel .item__info-date {
  font-size: 48px;
  font-weight: 300;
  color: #c1c1c1;
  line-height: 100px;
}
.owl-carousel .item__info-title {
  font-size: 100px;
  font-weight: 700;
  margin: 0 0 15px 0;
}
.owl-carousel .item__info-readmore {
  display: block;
  width: 307px;
  height: 58px;
  line-height: 58px;
  text-decoration: none;
  padding: 0 0 0 65px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #86468a;
  font-weight: 700;
  border: 2px solid #86468a;
  position: relative;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.owl-carousel .item__info-readmore:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  margin: -3px 0 0 0;
  width: 8px;
  height: 8px;
  right: 62px;
  border-top: 1px solid #86468a;
  border-right: 1px solid #86468a;
  transform: rotate(45deg);
}
.owl-carousel .item__info-readmore:hover {
  background: rgba(134, 70, 138, 0.2);
}
.active .item__info {
  opacity: 1;
}
.shared {
  display: block;
  width: 100px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: auto;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  -webkit-transform: translate(100px, -50%);
  -ms-transform: translate(100px, -50%);
  transform: translate(100px, -50%);
  -webkit0transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.shared__icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 24px auto;
  text-decoration: none;
  background: url('../img/social.png') no-repeat;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.shared__icon-plus {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  background: none;
  margin: 0 0 0 -100px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit0transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.shared__icon-plus:active {
  opacity: .7;
}
.shared__icon-vk {
  background-position: 0 0;
}
.shared__icon-fb {
  background-position: -50px 0;
}
.shared__icon-instagramm {
  background-position: -100px 0;
}
.shared__icon-twitter {
  background-position: -150px 0;
}
.shared__icon-periscop {
  background-position: -200px 0;
}
.show-shared .shared {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 9999999;
}
.show-shared .shared__icon-plus {
  margin: 0;
  background: rgba(0, 0, 0, 0);
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay-show {
  display: block;
}
.overlay-bg {
  background: rgba(0, 0, 0, 0.5);
}
footer {
  clear: both;
  display: block;
  overflow: hidden;
  height: 70px;
  background: #000;
  position: relative;
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  height: 70px;
  margin: auto;
  position: relative;
  text-align: center;
}
.footer__text {
  display: inline-block;
  line-height: 70px;
  font-size: 15px;
  font-weight: 700;
  color: #a6a4a8;
}
.footer__text a {
  text-decoration: none;
  color: #a6a4a8;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__text a:hover {
  color: #fff;
}
.footer__logo {
  float: left;
  overflow: hidden;
  line-height: 70px;
  font-size: 15px;
  font-weight: 700;
  color: #a6a4a8;
  text-align: left;
}
.footer__periscope {
  float: right;
  overflow: hidden;
  line-height: 70px;
  font-size: 15px;
  font-weight: 700;
  color: #a6a4a8;
  text-decoration: none;
  text-align: left;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__periscope:hover {
  color: #fff;
}
.footer__periscope:hover:before {
  opacity: 1;
}
.footer__periscope:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 70px;
  background: url('../img/social.png') right center no-repeat;
  background-size: 200px 40px;
  vertical-align: middle;
  margin: 0 5px 0 0;
  opacity: .5;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.md-content {
  background: #fff;
  padding: 65px;
  text-align: center;
  position: relative;
}
.md-content__title {
  font-size: 36px;
  font-weight: 700;
  color: #86468a;
  margin: 0 0 20px 0;
}
.md-content__text {
  font-size: 24px;
  line-height: 36px;
  color: #6f5d70;
  margin: 0 0 105px 0;
  font-weight: 400;
}
.md-content__input {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'ProximaNova';
  border: none;
  font-size: 24px;
  line-height: 50px;
  border-bottom: 1px solid #6f5d70;
  margin: 0 0 120px 0;
  color: #000;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.md-content__input.rsform-error {
  background: #fbe9e9;
}
.md-content__button {
  font-family: 'ProximaNova';
  font-weight: 600;
  border: 2px solid #86468a;
  line-height: 58px;
  padding: 0 50px;
  color: #86468a;
  background: none;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.md-content__button:hover {
  background: rgba(134, 70, 138, 0.2);
}
.md-content__close {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../img/close.png') 0 0 no-repeat;
  position: absolute;
  right: 36px;
  top: 36px;
}
.instagramm-scroll-show .instagramm-scroll {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 9999999;
}
.instagramm-scroll-show .inst-carousel {
  opacity: 1;
}
.instagramm-scroll-show .instagramm-scroll__wrapper-show:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.instagramm-scroll {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px !important;
  overflow: visible;
  -webkit-transform: translate(0, 200px);
  -ms-transform: translate(0, 200px);
  transform: translate(0, 200px);
  z-index: 9;
  -webkit0transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.instagramm-scroll__wrapper {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  margin: auto;
  position: relative;
  overflow: visible;
}
.instagramm-scroll__wrapper-show {
  float: left;
  overflow: hidden;
  width: 400px;
  padding: 0 0 0 30px;
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  letter-spacing: 2px;
  left: 0;
  top: -50px;
  z-index: 9;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}
.instagramm-scroll__wrapper-show:after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  right: 28px;
  top: 50%;
  margin: -3px 0 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit0transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.inst-carousel {
  bottom: 0 !important;
  width: 100%;
  height: auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  opacity: 0;
  -webkit0transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.inst-carousel .item {
  width: 100% !important;
  height: 200px !important;
  background: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.inst-carousel .item img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.container {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.content {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  margin: auto;
  padding: 190px 0 150px 0;
}
.content-news {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  letter-spacing: -9999px;
}
.content-news__item {
  letter-spacing: normal;
  display: inline-block;
  color: #474747;
  font-size: 18px;
  width: 400px;
  padding: 0 23px;
  vertical-align: top;
}
.content-news__item-date {
  color: #000;
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 15px 0;
}
.content-news__item-title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}
.content-news__item-intro {
  margin: 0 0 15px 0;
}
.content-news__item-readmore {
  display: inline-block;
  line-height: 70px;
  color: #86468a;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 0 50px 0 0;
  background: url('../img/readmore.png') right top no-repeat;
  z-index: 9;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.content-news__item-readmore:hover {
  padding-right: 60px;
}
.inner-article .content {
  padding-top: 0;
  overflow: visible;
}
.content-article {
  min-height: 700px;
}
.content-article__image {
  position: absolute;
  top: 0;
  min-width: 1200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.events {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  list-style: none;
  margin: 0 0 110px 0;
}
.events-item {
  color: #fff;
  height: 400px;
  position: relative;
  vertical-align: middle;
  background: #000;
}
.events-item__info {
  clear: both;
  display: block;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 175px 85px 0 85px;
}
.events-item__info-date {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  margin: 0 0 10px 0;
  z-index: 9;
}
.events-item__info-title {
  font-size: 48px;
  font-weight: 600;
  position: relative;
  margin: 0 0 15px 0;
  z-index: 9;
}
.events-item__info-readmore {
  display: inline-block;
  line-height: 70px;
  color: #86468a;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 0 50px 0 0;
  background: url('../img/readmore.png') right top no-repeat;
  z-index: 9;
  -webkit0transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.events-item__info-readmorefull {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.events-item__info-readmore:hover {
  padding-right: 60px;
}
.events-item__info-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.events-item:nth-child(1) {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.events-item:nth-child(2) {
  float: left;
  overflow: hidden;
  width: 50%;
}
.events-item:nth-child(3) {
  float: right;
  overflow: hidden;
  width: 50%;
}
.events-item:nth-child(4) {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.events-item:nth-child(2) .events-item__info,
.events-item:nth-child(3) .events-item__info {
  padding-top: 125px;
}
.inner footer {
  position: absolute;
}
@media (max-width: 1200px) {
  .content {
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .content-news__item {
    width: 50%;
  }
  .header {
    width: 100%;
  }
  .header-logo {
    margin: 0 0 0 50px;
  }
  .owl-carousel .item__info {
    width: 100%;
    padding: 0 40px;
  }
  .instagramm-scroll__wrapper {
    width: 100%;
    padding: 0 40px;
  }
  .footer {
    width: 100%;
    padding: 0 40px;
  }
  .instagramm-scroll-show .instagramm-scroll {
    -webkit-transform: translate(0, 80px);
    -ms-transform: translate(0, 80px);
    transform: translate(0, 80px);
    z-index: 9999999;
  }
  .inst-carousel {
    height: 120px !important;
  }
  .inst-carousel .item {
    width: 100% !important;
    height: 120px !important;
  }
}
@media (max-width: 1000px) {
  header {
    z-index: 9999;
  }
  .header {
    width: 100%;
    overflow: visible;
  }
  .header-logo {
    margin: 0 auto;
    float: none;
    display: block;
  }
  .header-menu {
    padding: 0;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
  }
  .header-menu__item {
    clear: both;
    width: 100vw;
    height: auto;
    height: 0;
    -webkit0transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  .header-menu__item a {
    text-align: center;
    line-height: 65px;
  }
  .header-menu__open {
    position: absolute;
    width: 50px;
    height: 22px;
    left: 40px;
    top: 40px;
  }
  .header-menu__open:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #c6c6c6;
    position: absolute;
    top: 0;
    -webkit0transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .header-menu__open:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #c6c6c6;
    position: absolute;
    bottom: 0;
    -webkit0transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .header-menu__open span {
    display: block;
    width: 100%;
    height: 2px;
    background: #c6c6c6;
    position: absolute;
    top: 50%;
    margin: -1px 0 0 0;
  }
  .header-menu__open-hide:before {
    top: -5px;
  }
  .header-menu__open-hide:after {
    bottom: -5px;
  }
  .header-menu__open-hide .header-menu__open:before {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  .header-menu__open-hide .header-menu__open:after {
    -webkit-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  .header-menu__open-hide header {
    z-index: 99999999;
  }
  .header-menu__open-hide .header-menu__item {
    height: 65px;
    opacity: 1;
  }
  .owl-carousel .item__info {
    text-align: center;
  }
  .owl-carousel .item__info-wrapper {
    width: 100%;
    left: 0;
  }
  .owl-carousel .item__info-date {
    font-size: 30px;
    line-height: 65px;
    letter-spacing: 1px;
  }
  .owl-carousel .item__info-title {
    font-size: 72px;
    letter-spacing: 5px;
  }
  .owl-carousel .item__info-readmore {
    display: inline-block;
    text-align: left;
    -webkit0transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  .owl-prev {
    margin: 0 0 0 40px !important;
  }
  .owl-next {
    margin: 0 40px 0 0 !important;
  }
  body .shared {
    width: 70px;
  }
  body .shared__icon {
    width: 34px;
    height: 34px;
    margin-bottom: 15px;
    background-size: 170px 34px;
  }
  body .shared__icon-plus {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 0;
    font-size: 42px;
  }
  body .shared__icon-vk {
    background-position: 0 0;
  }
  body .shared__icon-fb {
    background-position: -34px 0;
  }
  body .shared__icon-instagramm {
    background-position: -68px 0;
  }
  body .shared__icon-twitter {
    background-position: -102px 0;
  }
  body .shared__icon-periscop {
    background-position: -136px 0;
  }
}
@media (max-width: 880px) {
  .content {
    clear: both;
    display: block;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .events-item {
    clear: both;
    width: 100% !important;
    height: 430px;
  }
  .events-item__info-image {
    min-width: 100%;
    min-height: 100%;
  }
  body .md-modal {
    left: 40px;
    right: 40px;
    width: auto;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
  .md-content {
    padding: 30px;
  }
  .md-content__text {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 50px 0;
  }
  .md-content__title {
    font-size: 28px;
    margin: 0 0 15px 0;
  }
  .md-content__close {
    top: 17px;
    right: 17px;
  }
  .md-content__input {
    font-size: 18px;
    margin: 0 0 70px 0;
  }
}
@media (max-width: 720px) {
  .events-item__info {
    padding: 200px 0 0 80px;
  }
  .content-news__item {
    width: 100%;
    padding: 0 80px;
  }
  .instagramm-scroll {
    bottom: 140px;
  }
  footer {
    height: 140px;
    padding-top: 70px;
    z-index: 99;
  }
  .footer {
    position: relative;
    overflow: visible;
  }
  .footer__text {
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    top: -70px;
  }
  .instagramm-scroll__wrapper-show {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .instagramm-scroll__wrapper-show:after {
    display: inline-block;
    position: static;
    margin: 0 0 3px 20px;
  }
}
@media (max-width: 400px) {
  .instagramm-scroll__wrapper-show {
    width: 100%;
  }
  .md-content__button {
    padding: 0 25px;
  }
}
