div.acymailing_module_success {
	background: #fff;
	color: #000;
}
.shared .ya-share2__list {
    display: block !important;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.shared .ya-share2__list_direction_horizontal > .ya-share2__item{
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto 24px auto !important;
    text-decoration: none !important;
    -webkit0transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
.shared .ya-share2__link {
	display: block !important;
}
.shared .ya-share2__badge {
	background: none !important;
}
.shared .ya-share2__container_size_m .ya-share2__icon {
	width: 50px !important;
	height: 50px !important;
}
.shared .ya-share2__container_size_m .ya-share2__item_service_vkontakte .ya-share2__icon {
	background: url('../img/social.png')  !important;
	background-position: 0 0  !important;
}
.shared .ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon {
	background: url('../img/social.png')  !important;
	background-position: -50px 0  !important;
}
.shared .ya-share2__container_size_m .ya-share2__item_service_twitter .ya-share2__icon {
	background: url('../img/social.png')  !important;
	background-position: -150px 0  !important;
}
.chzn-container-active .chzn-single {
	border: none;
	box-shadow: none;
}
.chzn-container-single .chzn-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    height: 23px;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    width: 50px;
}
.chzn-container .chzn-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #000;
    border-top: 0;
    color: #000;
    background: #f2f2f2;
    box-shadow: none;
    width: 50px;
}
.chzn-container .chzn-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 ;
    padding: 0;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li.highlighted {
  background: #000;
  color: #f2f2f2;
}
.mod-languages {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.chzn-container-single .chzn-single {
	font-size: 15px;
	font-weight: 600;
	color: #a4a3a3;
	width: 50px;
}
.chzn-container-single .chzn-single div b {
	background-image: url('../images/chosen-sprite.png');
}
.chzn-container-active.chzn-with-drop .chzn-single {
  border: 1px solid #000;
  border-radius: none;
  background: #f2f2f2;
  color: #000;
}
.ya-share2__container_size_m .ya-share2__item {}